<div id="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>newspaper vendor management system</h1>
       
          <a href="#landing#contact" class="btn btn-default page-scroll">Learn More</a> </div>
      </div>
    </div>
  </div>
</div>
<!-- About Section -->

  <div class="bg">
  <div class="container">
  <section>
			
			<div class="row">
						<div class="col-md-2">
								
						</div>
						<div class="col-md-8 row">
								<div class="row " >
								
										<div class="col-md-6 col-xs-6  heffect text-center">
													<div class="img-responsive">
														<img src="images/sercure.png"/>
													
													</div>
													<div><h4> Secure billing</h4></div>
										
										</div>
										
										<div class="col-md-6 col-xs-6 text-center heffect ">
												<div class="">
												<img src="images/24.png"/>
												</div>
												<div>
													<h4>24/7 Support</h4>
												</div>
										
										</div>
					
						</div>
						<div class="mar">
						<div class="row">
										<div class="col-md-6 col-xs-6 text-center heffect">
													<div class="img-responsive">
														<img src="images/real.png"/>
													
													</div>
													<div><h4>Real Time Reports</h4></div>
										
										</div>
										
										<div class="col-md-6 col-xs-6 centered col-offset-3 text-center heffect">
												<div class="">
												<img src="images/userf.png"/>
												</div>
												<div>
													<h4>User Friendly</h4>
												</div>
										
										</div>
										
						</div>
						</div>
						<div class="col-md-2">
								
						</div>
				
				</div>
		
  </div>
  </section>
 
</div>
 
  </div>






<!-- news paper  -->
<div id="services" class="text-center">
  <div class="container">
    <div class="section-title center">
	

      <h6>Newspapaerwale.in</h6>
	  
	  <h6>Technology Revolution To Everyday Life</h6>
	 <div class="read">
	  <a href="#landing#team"  >Read more...</a> 
	  <div>
   </div>
    </div>

    
    <div class="space"></div>
 
  </div>
  </div>
</div>
<!-- BENEFITS -->



<div id="works" class="bg img-responsive">


		
							
  <div class="container img-responsive"> <!-- Container -->
						<div class="section-title text-center">
						  <h2>BENEFITS	</h2>
						  <hr>
						</div>
		
					<div class="row">

							
						<div class="col-md-12">
						
											<div class="row">
															<div class="col-md-4 col-xs-4 text-center">
												<div class=" img-responsive">
												<img src="images/saving.png"/>
												</div>
												<div>
													<h4>Savings</h4>
												</div>
												</div>
												
												
													<div class="col-md-4 col-xs-4 text-center">
												<div class=" img-responsive">
												<img src="images/reduce.png"/>
												</div>
												<div>
													<h4>Reduced Time</h4>
												</div>
												</div>
												
												
													<div class="col-md-4  col-xs-4 text-center">
												<div class="img-responsive">
												<img src="images/has.png"/>
												</div>
												<div>
													<h4>Hassle Free Payments<br> &  Transactions</h4>
												</div>
												</div>
										
										
										
										</div>
										
										
										
											<div class="row">
															<div class="col-md-4 col-xs-4 text-center img-responsive">
												<div class="img-responsive">
												<img src="images/all.png"/>
												</div>
												<div>
													<h4>All in one<h4>
												</div>
												</div>
												
												
													<div class="col-md-4  col-xs-4 text-center">
												<div class="img-responsive">
												<img src="images/end.png"/>
												</div>
												<div>
													<h4>End- to- End<br> Tracking</h4>
												</div>
												</div>
												
												
													<div class="col-md-4  col-xs-4 text-center">
												<div class="img-responsive">
												<img src="images/ret.png"/>
												</div>
												<div>
													<h4>user interface</h4>
												</div>
												</div>
										
										
										
										</div>
										
										
										
										
										
										
						
					
								
				
	
	</div>
  </div>
</div>
</div>












<!-- Testimonials Section -->
<div id="testimonials" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
       <h6>switch into india's 1st Business management platform for <br>newspaper vendors </h6>
	   <div class="read">
	  <a href="#landing#saving"  >Read more...</a> 
	  </div>
	  
	  </div>
    </div>
	</div>
  </div>






<!-- Technology --> 
<div id="team" class="text-center" >
  <div class="container">
  <section>
			<div class="section-title text-center">
	<h2>technology</h2>
	<hr>
	
	</div>
  <div class="row">
		<div class="col-md-6">
		
		<h7>
SaaS paltform to plan, track and<br>
manage all your business</h7>

 <div class="read">
	  <a href="#landing#saving"  >Read more...</a> 
	  </div>
		</div>
		<div class="col-md-6">
		
		<img src="images/tech.png"/>
  
  </div>
	  </div>

   </section>
  </div>
</div>




<!-- savings -->

<div id="saving" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Savings	</h2>
      <hr>
	  
		
    </div>
	
	<div class="row text-center" >
			<form class=" form align-center" id="mailchimp" novalidate>
                        <div class=" row">
                            <div class=" col-md-12">
                                
                              
                                <div class=" mb-20">
                                    

 								<div class=" col-sm-12 col-md-12 col-lg-12">
 
									<h3 class="font-color-gray">Vendors have <input type="number" min="1" max="99999" id="myNumber"  ng-model="customers" class=" newsletter-field form-control " >  Customer can save upto</h3>
                                        <div class=" alt-features-item align-center">
                                            
											<span class=" saving_numerical">&#8377<span ng-bind="save()"></span></span>
                                            <span class="  font-color-gray">per month</span><br><br>
                                        </div>
                                    </div>


                                     <div class=" col-sm-4 col-md-4 col-lg-4">
                                        
                                            <div class=" text-centered">
											<div>
											<img src="images/4.png"/>
                                            </div>
											<div>
                                            <span class=" saving_numerical" id="demo" ng-bind="vendors()"></span><br>
                                            <span style="width:100px !Important;" class="  font-color-gray">Vendors-hours<br> saved monthly</span>
											</div>
											</div>
                                        
                                    </div>
                                   <div class=" col-sm-4 col-md-4 col-lg-4">
                                        
                                            <div class=" text-centered">
											<div>
											<img src="images/3.png"/>
											<br>
                                            </div>
											<div>
												<span class=" saving_numerical" id="demo2" ng-bind="min()"></span><br>
                                            <span style="width:100px !Important;" class="  font-color-gray">Minutes of calls <br>avoided monthly</span>
											</div>
											</div>
                                        
                                    </div>
									
									
                                 <div class=" col-sm-4 col-md-4 col-lg-4">
                                        
                                            <div class=" text-centered">
											<div>
											<img src="images/5.png"/>
                                            </div>
											<div>
                                                                                        <span class=" saving_numerical" id="demo3" ng-bind="polution()"></span><br>
                                            <span style="width:100px !Important;" class="  font-color-gray">Grams reduction in carbon <br>emissions monthly</span>
											</div>
											</div>
                                        
                                    </div>
									
									
									
                                </div>
                                
                                
                                <div id="subscribe-result"></div>
                                
                            </div>
                        </div>
                    </form>
	</div>
	
	
	
	</div>
	</div>






<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Contact us</h2>
      <hr>

    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4">
        <div class="contact-item"> <i class="fa fa-map-marker fa-2x"></i>
          <p>53, Shubh Commercial Complex, Akurli Road,<br >
		  Kandivali East, Mumbai, <br>
		  Maharashtra 40010<br>
           </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-item"> <i class="fa fa-envelope-o fa-2x"></i>
          <p>support@newspaperwale.in</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-item"> <i class="fa fa-phone fa-2x"></i>
          <p>  +91 22 40169041<br>
            </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h3>Leave us a message</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default">Send Message</button>
      </form>
      <div class="social">
        <h3>Follow us</h3>
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
	  
	  
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <p>Copyright &copy;  <a href="http://www.kryptossoftware.com/" rel="nofollow">Krytossoftware.com</a></p>
  </div>
</div>