<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
      <a class="navbar-brand page-scroll" ui-sref="login.intro"> <i class="fa fa-paper-plane-o"></i>newspaperwale.in</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse navbar-right navbar-main-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden"> <a href="#page-top"></a> </li>
        <li> <a class="page-scroll" ui-sref="login.intro">HOME</a> </li>
        <li> <a class="page-scroll" href="#landing#works">BENEFITS</a> </li>
        <li> <a class="page-scroll" href="#landing#team">TECHNOLOGY</a> </li>
        <li> <a class="page-scroll" href="#landing#saving">SAVING</a> </li>
		<li> <a class="page-scroll" ui-sref="login.vendor">VENDORS</a> </li>
        <li> <a class="page-scroll" href="#landing#contact">CONTACT</a> </li>
        <li> <a class="page-scroll"  ui-sref="login.login">LOGIN</a> </li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container --> 
</nav>